GtkApplicationWindow {
    transition-property: background-color;
    transition-duration: 300ms;
}

GtkApplicationWindow.edit_mode {
    background-color: #ffe43e;
}

GtkApplicationWindow.view_mode {

}
